<h2 class="modal-title">Compartir inventario</h2>

<form class="form" (ngSubmit)="agregarProducto()" #formulario="ngForm">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>id</mat-label>
    <input matInput [(ngModel)]="producto.id" name="id" required>
  </mat-form-field>

  <div class="modal-buttons">
    <button class="border" mat-button type="button" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" type="submit">Compartir</button>
  </div>
</form>
