@import "src/styles.scss";
.modal-title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: $color-texto-blanco;
    background-color: $color-primario;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .form{
    padding: 15px;
  }
  
  .campos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .full-width {
    width: 100%;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 15px;
  }
  