<h2 class="modal-title">Agregar Producto</h2>

<form class="form" (ngSubmit)="agregarProducto()" #formulario="ngForm">
  <div class="campos">
    <mat-form-field class="example-form-field">
      <input matInput type="number" placeholder="Cantidad" [(ngModel)]="producto.quantity" name="quantity">
    </mat-form-field>
  </div>

  <div class="modal-buttons">
    <button class="border" mat-button type="button" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" type="submit">Agregar</button>
  </div>
</form>
